@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
:root {
  --white: hsl(0, 0%, 100%);
  --lightGrayishViolet: hsl(270, 3%, 87%);
  --darkGrayishViolet: hsl(279, 6%, 55%);
  --veryDarkViolet: hsl(278, 68%, 11%);
}
/* reset margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(images/bg-main-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Space Grotesk", sans-serif;
}
main {
  height: 95vh;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
}
/* resize and positioned card image */
.left {
  width: 90%;
  height: 20rem;
}
.bank-card-img {
  width: 18rem;
  height: 9rem;
}
.bank-card {
  position: relative;
  display: inline-block;
  width: 18rem;
  height: 9rem;
  color: var(--white);
}
.back-view {
  margin: 1rem 0 0 6rem;
}
.front-view {
  margin: -4rem 0 0 0;
}
/* positioned text on card image */
#cvc {
  position: absolute;
  top: 5.75em;
  font-size: 0.7rem;
  right: 3em;
}

#card-number {
  position: absolute;
  font-size: 1.15rem;
  letter-spacing: 0.1rem;
  top: 4.25em;
  left: 1em;
}

#name {
  position: absolute;
  top: 12em;
  left: 2em;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
}
#experience-date {
  position: absolute;
  top: 12em;
  right: 2em;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
}
#logo {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 3.5em;
}
.right {
  background-color: white;
  height: 40rem;
  margin: -5rem 0 0 0;
}

.input {
  font-size: 1rem;
  display: block;
  border-radius: 0.5em;
  border: 1px solid var(--lightGrayishViolet);
  padding: 0.75em;
}
.flex-form {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}
input::placeholder {
  color: var(--darkGrayishViolet);
  letter-spacing: 0.05rem;
}
.flex-form label {
  padding: 0.5em;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.15rem;
  color: var(--veryDarkViolet);
}

.details-container {
  padding: 0.5em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#month-input,
#day-input {
  width: 4em;
}
#cvc-input {
  width: 10.5em;
}
.btn {
  margin: 1em 0;
  color: var(--lightGrayishViolet);
  padding: 1em;
  font-size: 1rem;
  background-color: var(--veryDarkViolet);
  border: 1px solid var(--veryDarkViolet);
  border-radius: 0.5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  top: 6em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* @media only screen and (min-width: 600px) {
  .main-container {
    flex-direction: row;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 15em;
    background: url(images/bg-main-desktop.png);
    background-size: cover;
    padding: 0 5em 0 20em;
  }
  .bank-card-img {
    width: 25em;
    height: 14em;
  }
  .bank-card {
    position: relative;
    display: inline-block;
    width: 17em;
    height: 9em;
    color: var(--white);
  }
  .grid {
    height: 50em;
    padding-top: 10em;
  }

  .front-view {
    grid-column: 1/6;
    grid-row: 1/6;
    z-index: 0;
  }
  .back-view {
    grid-column: 3/8;
    grid-row: 4/8;
    z-index: 1;
    margin-top: 0.5em;
  }
  main {
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    margin-left: 25em;
  }
  .flex-form {
    width: 24em;
  }
} */
