:root {
  --white: hsl(0, 0%, 100%);
  --lightGrayishViolet: hsl(270, 3%, 87%);
  --darkGrayishViolet: hsl(279, 6%, 55%);
  --veryDarkViolet: hsl(278, 68%, 11%);
}
* {
  margin: 0;
  padding: 0;
}
.back-view {
  grid-column: 2/6;
  grid-row: 1/5;
  z-index: 0;
}
.front-view {
  grid-column: 1/5;
  grid-row: 4/7;
  z-index: 1;
}
header {
  height: 10em;
  background: url(images/bg-main-mobile.png);
  display: grid;
  padding: 2em 1em;
}

.bank-card-img {
  width: 17em;
  height: 8em;
}
.bank-card {
  position: relative;
  display: inline-block;
  width: 17em;
  height: 8em;
}
#cvc {
  position: absolute;
  top: 3.5em;
  right: 2em;
  color: var(--white);
}

#card-number {
  position: absolute;
  top: 4.5em;
  left: 1em;
  color: var(--white);
}
