@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
:root {
  --white: hsl(0, 0%, 100%);
  --shadow: hsla(0, 0%, 9%, 30%);
  --lightGrayishViolet: hsl(270, 3%, 87%);
  --darkGrayishViolet: hsl(279, 6%, 55%);
  --veryDarkViolet: hsl(278, 68%, 11%);
}
/*** reset margins and paddings ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/***** main style *****/
body {
  background: url(images/bg-main-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Space Grotesk", sans-serif;
}
main {
  height: 100vh;
}
.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
}
/***** card images  *****/
.left {
  align-items: center;
  width: 90%;
  height: 20rem;
}
.bank-card-img {
  width: 18rem;
  height: 9.5rem;
  border-radius: 0.65rem;
  box-shadow: 0.5rem 0.5rem 3em 0.2rem var(--shadow);
}
.bank-card {
  position: relative;
  display: inline-block;
  width: 18rem;
  height: 9.5rem;
  color: var(--white);
}
.back-view {
  margin: 1rem 0 0 6rem;
}
.front-view {
  margin: -4.25rem 0 0 0;
}
/*****positioned text on card image (mobile size) *****/
#cvc {
  position: absolute;
  top: 4.25rem;
  font-size: 0.7rem;
  right: 2.75rem;
}

#card-number {
  position: absolute;
  font-size: 1.15rem;
  letter-spacing: 0.1rem;
  top: 5rem;
  left: 1rem;
}

#exp-date,
#name {
  position: absolute;
  top: 7.5rem;
  right: 2rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}
#name {
  left: 1rem;
}
#logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 3.5rem;
}
/*****form positioned emenents *****/
.right {
  align-items: center;
  background-color: white;
  height: 80vh;
  margin: -5rem 0 0 0;
}

.input {
  width: 100%;
  font-size: 1rem;
  display: block;
  border-radius: 0.5rem;
  border: 1px solid var(--lightGrayishViolet);
  padding: 0.75em;
}
.form-container {
  margin: 0.5rem 0 0 0;
  padding: 1rem;
}
input::placeholder {
  color: var(--darkGrayishViolet);
  letter-spacing: 0.05rem;
}
.form-container label {
  display: block;
  margin: 1.5rem 0 0.25rem 0 !important;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.15rem;
  color: var(--veryDarkViolet);
}

.details-container {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#month-input,
#year-input {
  width: 22.5%;
}
#cvc-input {
  width: 50%;
}
.btn {
  width: 100%;
  margin: 2rem 0;
  color: var(--white);
  font-weight: 600;
  padding: 1rem;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  background-color: var(--veryDarkViolet);
  border: 1px solid var(--veryDarkViolet);
  border-radius: 0.5rem;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
  position: relative;
  margin: -3em 0 0 0;
  color: var(--darkGrayishViolet);
}
.attribution a {
  color: var(--veryDarkViolet);
  text-decoration: none;
}
/*****tablet screen size *****/
@media only screen and (min-width: 768px) {
  .bank-card-img {
    width: 21rem;
    height: 11rem;
  }
  .bank-card {
    position: relative;
    display: inline-block;
    width: 21rem;
    height: 11rem;
  }

  /*****positioned text on card image (tablet size) *****/
  #card-number {
    font-size: 1.35rem;
    letter-spacing: 0.1rem;
    top: 6rem;
    left: 1.5rem;
  }

  #exp-date,
  #name {
    top: 8.75rem;
    right: 2rem;
    font-size: 0.8rem;
  }
  #name {
    left: 1.5rem;
  }
  #cvc {
    position: absolute;
    top: 4.85rem;
    font-size: 0.8rem;
    right: 2.75rem;
  }
  #logo {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    width: 4rem;
  }
}
/*****desktop screen size *****/
@media only screen and (min-width: 1024px) {
  html {
    font-size: 18px;
  }
  body {
    background: url(images/bg-main-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main-container {
    flex-direction: row;
  }
  .right {
    align-items: center;
    height: 100vh;
    width: 70%;
    margin: 0;
  }
  .form-container {
    width: 25rem;
    margin: 0 0 0 15rem;
  }
  .left {
    padding: 0 0 0 20%;
    height: 100vh;
    width: 30%;
  }
  .bank-card-img {
    width: 26rem;
    height: 15rem;
  }
  .bank-card {
    position: relative;
    display: inline-block;
    width: 26rem;
    height: 15rem;
  }
  .back-view {
    order: 1;
    margin: 4rem 0 0 10rem;
  }
  .front-view {
    margin: 0 0 0 0;
    order: 0;
  }
  /*****positioned text on card image (destop size) *****/
  #card-number {
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    top: 8rem;
    left: 2rem;
  }

  #exp-date,
  #name {
    top: 12rem;
    right: 2rem;
    font-size: 1rem;
  }
  #name {
    left: 2rem;
  }
  #cvc {
    position: absolute;
    top: 6.75rem;
    font-size: 1rem;
    right: 3rem;
  }
  #logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 5rem;
  }
}
/***** error  mesages*****/

.errorMes {
  color: red;
  display: none;
  font-size: 0.6rem;
}

.visible {
  display: block;
  border-color: red;
}
.error {
  border: 1px solid red;
}
.valid {
  border: 1px solid green;
}
