/* defined colors */
:root {
  --blue: hsl(246, 80%, 60%);

  --lightOrange/*(work)*/: hsl(15, 100%, 70%);
  --softBlue/*(play)*/: hsl(195, 74%, 62%);
  --lightRed/*(study)*/: hsl(348, 100%, 68%);
  --limeGreen/*(exercise)*/: hsl(145, 58%, 55%);
  --violet/*(social)*/: hsl(264, 64%, 52%);
  --softOrange/*(self care)*/: hsl(43, 84%, 65%);

  /* ### Neutral */

  --veryDarkBlue: hsl(226, 43%, 10%);
  --darkBlue: hsl(235, 46%, 20%);
  --desaturatedBlue: hsl(235, 45%, 61%);
  --paleBlue: hsl(236, 100%, 87%);
  --white: hsl(255 100% 100%);
}
/*main style for mobile */
.draft {
  display: none;
}
body {
  font-family: sans-serif;
  background-color: var(--veryDarkBlue);
  color: var(--white);
}
main {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* define grid on mobile*/
.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "u-info" "work" "play" "exr" "study" "soc" "self";
}
#user-info {
  margin: 1rem 1rem 3rem 1rem;
  border-radius: 0.5rem;
  grid-area: u-info;
}
#work {
  grid-area: work;
}
#play {
  grid-area: play;
}
#study {
  grid-area: study;
}
#exercise {
  grid-area: exr;
}
#social {
  grid-area: soc;
}
#self-care {
  grid-area: self;
}
/*end grid*/
/*styled section*/
#user-data .container {
  padding: 1rem;
}
.avatar {
  margin: 0 1.5rem;
  width: 4em;
  height: 4em;
  background-color: blue;
  border-radius: 50%;
}
.time ul {
  padding: 0.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.header {
  position: relative;
  height: 3rem;
  margin-top: -2rem;
  border-radius: 0.5rem;
  z-index: -1;
}
h1 {
  font-size: 1rem;
}
h1 span {
  font-size: 0.75rem;
  display: block;
}
.activity {
  margin: 1rem 1rem 3rem 1rem;
  border-radius: 0.5rem;
}
.dot {
  display: block;
  font-size: 1.5rem;
  text-align: right;
}

.activ-name {
  font-size: 1rem;
}
.activ-time {
  font-size: 2rem;
}
section .container {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*defined colors or each header*/
#work header {
  background-color: var(--lightOrange);
}
#play header {
  background-color: var(--softBlue);
}
#study header {
  background-color: var(--lightRed);
}
#exercise header {
  background-color: var(--limeGreen);
}
#social header {
  background-color: var(--violet);
}
#self-care header {
  background-color: var(--softOrange);
}
section {
  background-color: var(--darkBlue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 900px) {
  #user-info {
    margin: -1rem 1rem 3rem 1rem;
    border-radius: 0.5rem;
    grid-area: u-info;
  }
  main {
    height: 95vh;
    padding: 0 3rem;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "u-info work study soc"
      "u-info play exr self";
  }
  .activity .container {
    padding: 3rem 1rem;
  }
}
