@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
:root {
  --violet: hsl(263, 55%, 52%);
  --grayishBlue: hsl(217, 19%, 35%);
  --blackishBlue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  --lightGray: hsl(0, 0%, 81%);
  --lightgrayishBlue: hsl(210, 46%, 95%);
  --border: hsl(0 0% 55%);
  --shadow: hsl(208, 10%, 75%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: var(--white);
  background-color: var(--lightgrayishBlue);
  font-size: 13px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.container {
  width: 80%;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "dan" "joan" "jean" "pat" "kir";
}
header {
  margin: 1rem 0;
}
.testimonial {
  margin: 1em;
  border-radius: 0.75rem;
  padding: 1.5rem;
    box-shadow: 0.1rem 0.1rem 2rem var(--shadow);
}
.testimonial h1 {
  font-size: 1rem;
}
.testimonial h3 {
  font-size: 0.8rem;
  opacity: 0.5;
}
.testimonial p {
  margin: 1rem 0;
  opacity: 0.7;
}
.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
  border: 2px solid var(--border);
  margin: 0 1rem 0 0;
  background-position: center;
}

#dan {
  grid-area: dan;
  background-color: var(--violet);
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 150px 5px;
}
#dan .avatar {
  background-image: url(images/image-daniel.jpg);
}

#joan {
  grid-area: joan;
  background-color: var(--grayishBlue);
}
#joan .avatar {
  background-image: url(images/image-jonathan.jpg);
}

#jean {
  grid-area: jean;
  background-color: var(--white);
  color: var(--grayishBlue);
}
#jean .avatar {
  background-image: url(images/image-jeanette.jpg);
}

#pat {
  grid-area: pat;
  background-color: var(--blackishBlue);
}
#pat .avatar {
  background-image: url(images/image-patrick.jpg);
}

#kir {
  grid-area: kir;
  background-color: var(--white);
  color: var(--grayishBlue);
}
#kir .avatar {
  background-image: url(images/image-kira.jpg);
}
.attribution {
  color: var(--grayishBlue);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media only screen and (min-width: 1000px) {
  main {
    height: 95vh;
  }
  .container {
    width: 70rem;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "dan dan joan kir"
      "jean pat pat kir";
  }
  #dan {
    background-position: 350px 5px;
  }
}
