:root {
  --white: hsl(0, 0%, 100%);
  --veryLightGrayishBlue: hsl(210, 60%, 98%);
  --lightGrayishBlue1: hsl(211, 68%, 94%);
  --lightGrayishBlue2: hsl(205, 33%, 90%);
  --grayishBlue: hsl(219, 14%, 63%);
  --darkGrayishBlue: hsl(219, 12%, 42%);
  --veryDarkBlue: hsl(224, 21%, 14%);
  --blue: hsl(228, 90%, 28%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.f-row {
  display: flex;
  flex-direction: row;
}
body {
  background-color: var(--white);
  color: var(--grayishBlue);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.25rem;
  font-size: 16px;
}

main {
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 90%;
  /* border: 1px solid var(--darkGrayishBlue); */
}
header {
  justify-content: space-between;
  padding: 2rem 0;
  color: var(--darkGrayishBlue);
  font-weight: 500;
}
h1 {
  font-size: 1.25rem;
  color: var(--veryDarkBlue);
}
#counter {
  color: var(--white);
  background-color: var(--blue);
  padding: 0.2rem 0.6rem;
  border-radius: 20%;
}

.message {
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  padding: 1rem;
}
.new {
  background-color: var(--veryLightGrayishBlue);
}
a {
  text-decoration: none;
  font-weight: 600;
}
a:hover,
#done:hover {
  color: var(--blue);
  transition: 0.25s;
  cursor: pointer;
}
.user {
  color: var(--veryDarkBlue);
}
.post {
  color: var(--darkGrayishBlue);
}
.dot {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  background-color: red;
  border-radius: 50%;
}

.img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.text {
  width: 90%;
  padding: 0.25rem;
  margin: 0 0 0 0.75rem;
}
.text span {
  display: block;
}
.private-mess {
  padding: 1rem;
  border: 1px solid var(--lightGrayishBlue1);
  border-radius: 0.25rem;
  margin: 0.75rem 0;
  color: var(--darkGrayishBlue);
}
.picture {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 1em;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
